<mat-toolbar color="primary">
  <mat-toolbar-row fxLayoutAlign="space-between center">
    <!-- les elements du menu header -->
    <div fxLayout="row">
      <button mat-button>
        <mat-icon>home</mat-icon>
        <span class="logo">SKOOLE</span>
      </button>
      <div *ngIf="!deviceXs">
        <button mat-button>COURS</button>
        <button mat-button>EXERCICES</button>
        <button mat-button>EXAMENS</button>
        <button mat-button>CONTACTS</button>
        <button mat-button>AIDE</button>
      </div>
    </div>

    <!-- les boutons de connection et d'inscription -->
    <div>
      <button mat-raised-button color="accent" *ngIf="!deviceXs">
        Se connecter
      </button>
      <button mat-raised-button color="accent" *ngIf="!deviceXs">
        S'inscrire
      </button>
      <button mat-icon-button *ngIf="deviceXs">
        <mat-icon>more_vert</mat-icon>
      </button>
    </div>
  </mat-toolbar-row>

  <mat-toolbar-row *ngIf="deviceXs" fxLayoutAlign="space-between end">
    <button mat-button>Cours</button>
    <button mat-button>Exercices</button>
    <button mat-button>Examens</button>
    <button mat-button>Contacts</button>
    <button mat-button>Aide</button>
  </mat-toolbar-row>
</mat-toolbar>
