<div
  class="container footer"
  fxLayout="row wrap"
  fxLayout.lt-md="column"
  fxLayoutAlign="center center"
  fxLayoutGap="10px"
>
  <div fxFlex="100" fxFlex.gt-sm="50">
    <div fxLayout="row">
      <div fxFlex="40" fxFlexOffset="20px">
        <mat-list>
          <mat-list-item
            ><a mat-button routerLink="/home">Cours</a></mat-list-item
          >
          <mat-list-item
            ><a mat-button routerLink="/cours">Exercices</a></mat-list-item
          >
          <mat-list-item
            ><a mat-button routerLink="/exercices">Examens</a></mat-list-item
          >
          <mat-list-item
            ><a mat-button routerLink="/examens">Contacts</a></mat-list-item
          >
          <mat-list-item
            ><a mat-button routerLink="/aide">Aide</a></mat-list-item
          >
        </mat-list>
      </div>

</div>
