<div class="comtainer">
  <h1 class="text-center">Choisis la matière pour continuer ...</h1>
  <div class="matiere justify-content-center" style="width: 60%; margin: auto;">
    <mat-card>
      <mat-list>
        <mat-list-item>
          <a routerLink="cours-detail" >
            <img mat-list-avatar src="../../assets/img/skoole.png" alt="Desc 1">
            Mathématiques
          </a>
        </mat-list-item>
        <br>
        <mat-list-item>
          <a routerLink="cours-detail">
            <img mat-list-avatar src="../../assets/img/skoole.png" alt="Desc 1">
            Physique
          </a>
        </mat-list-item>
        <br>
        <mat-list-item>
          <a routerLink="cours-detail">
            <img mat-list-avatar src="../../assets/img/skoole.png" alt="Desc 1">
            Chimie
          </a>
        </mat-list-item>
        <br>
        <mat-list-item>
          <a routerLink="cours-detail">
            <img mat-list-avatar src="../../assets/img/skoole.png" alt="Desc 1">
            Français
          </a>
        </mat-list-item>
        <br>
        <mat-list-item>
          <a routerLink="cours-detail">
            <img mat-list-avatar src="../../assets/img/skoole.png" alt="Desc 1">
            SVT
          </a>
        </mat-list-item>
      </mat-list>
    </mat-card>
  </div>
</div>
