.top-home {
  // height: 300px;
  // padding-bottom: 30px;
  background-color: #008036;
  text-align: center;
}
.search-div {
  padding: 25px;
  background-color: white;
  border-radius: 0 100px 100px 0;
  font-weight: bold;
  font-size: large;
}
.get-app-div {
  padding-top: 50px;
  color: white;
  background-color: #008036;
  padding-top: 60px;
}
.get-app-div button {
  color: #008036;
  font-weight: bold;
}
input {
  margin-right: 20px;
  margin-left: 50px;
}
.popular {
  margin-top: 15px;
}
.popular button{
  margin: 5px;
}
.form-control{
  text-align: center;
  width: 90%;
}

.main-home {
  padding: 50px;
}

.classe button {
  width: 150px;
  height: 150px;
  display: inline;
}






.wrap {
  display: flex;
}
.box {
  height: 150px;
  border: 1px solid green;
  flex: 1;
  margin: 25px;
  text-align: center;
  line-height: 150px;
  font-size: 36px;
}
.box:first-child {
  order: 1;
}
.box:nth-child(2) {
  order: 2;
}
.box:nth-child(3) {
  order: 3;
}
@media screen and (max-width: 760px) {
  .wrap {
    flex-direction: column;
  }
  .box:nth-child(2) {
    order: 3;
  }
  .box:nth-child(3) {
    order: 2;
  }
}
