<div class="top-home row">
  <!-- div pour la recherche -->
  <div class="search-div col-md-8">
    <p>
      Tous tes cours et tes livres accessibles quand tu veux ! <br><br>
      Que souhaites-tu apprendre ?<br><br>
    </p>
    <form>
      <input class="form-control mr-sm-2" type="search" placeholder="Rechercher des Cours, Livres, Documents ..." aria-label="Search">
      <br>
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Rechercher</button>
    </form>
    <div class="popular">
      <button type="button" class="btn btn-disabled btn-sm popular-3" >Populaires :</button>
      <button type="button" class="btn btn-success btn-sm popular-3" >Popular 3</button>
      <button type="button" class="btn btn-warning btn-sm popular-4" >Popular 4</button>
      <button type="button" class="btn btn-info btn-sm popular-5" >Popular 5</button>
    </div>
  </div>
  <!-- div pour get app -->
  <div class="get-app-div col-md-4">
    <h1 class="text-center">Pas assez de data ?</h1>
    <button type="button" class="btn btn-lg btn-block btn-light">Télécharger l'application</button>
  </div>
</div>

<div class="main-home">
  <!--
    <div class="liste-classes" *ngFor="let classe of classes">
      <div class="classe text-center">
        <button mat-flat-button>
          <mat-card>
            <mat-card-title>
              {{classe.abbrev}}
            </mat-card-title>
            <mat-card-content>
              {{classe.name}}
            </mat-card-content>
          </mat-card>
        </button>
      </div>
    </div> -->

  <div class="liste-classe text-center">
    <h3>CHOISIS TA CLASSE POUR COMMENCER</h3>
    <div class="wrap">
      <a routerLink='/classe/2'><div class="box btn btn-info" *ngFor="let classe of classes">{{classe.name}}</div></a>
    </div>
  </div>


  <div class="liste-ressources text-center">
    <h3>RESSOURCES POUR LE PRIMAIRE</h3>
    <div class="wrap">
      <a routerLink='/cours'><div class="box btn btn-primary">Mathématiques</div></a>
      <a routerLink='/cours'><div class="box btn btn-success">Français</div></a>
      <a routerLink='/cours'><div class="box btn btn-danger">Anglais</div></a>
    </div>
  </div>

</div>
